@font-face {
  font-family: 'Essays 1743';
  src: url('f/essays1743-webfont.eot');
  src: local('Essays 1743'), url('fonts/essays1743-webfont.woff') format('woff'), url('fonts/essays1743-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, caption, thead th {
  font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px #667;
}
h1 {
  font-size: 266.7%;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 1.49em 0;
}
h2 {
  font-size: 210%;
  line-height: 1.3125;
  margin: 1.167em 0;
  clear: both;
}
h3 {
  font-size: x-large;
  line-height: 1.167;
  margin: 1.556em 0;
  text-align: center;
}
.asterism {
  font: 100%/1 "Arial Unicode MS", FreeSerif, OpenSymbol, "DejaVu Sans", sans-serif;
  font-size: xx-large;
  line-height: .875;
  text-shadow: 0 0 2px #667;
  text-align: center;
}
ul {
  list-style-type: none;
  text-align: center;
}
p {
  margin: 1.556em 0;
}
p, ul {
  font-size: large;
}
a {
  color: FireBrick;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
img {
  margin: auto 1em auto 1em;
}
.center {
  text-align: center;
}
.content-list {
  cursor: pointer;
}
